/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: black;
  }

.hide {
  display: none !important;
}

.container {
  background-color: #5c54ed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  color: #fdfdfd;
  border-radius: 1rem;
  max-width: 400px;
}